{% extends "web/layout.html" %} {% block body %}

<section id="flight-section">
  <h2 class="heading-2 text-center">Let {{flight.code}}</h2>

  <ul id="flight-details">
    <li class="flight-details-flight">
      <span class="bold-text">Země odletu: </span>{{flight.departure}}
    </li>
    <li class="flight-details-flight">
      <span class="bold-text">Země příletu: </span>{{flight.arrival}}
    </li>
    <li class="flight-details-flight">
      <span class="bold-text">Datum odletu: </span
      >{{flight.departure_date|date:'d.m.Y H:i'}}
    </li>
    <li class="flight-details-flight">
      <span class="bold-text">Datum příletu: </span
      >{{flight.arrival_date|date:'d.m.Y H:i'}}
    </li>
  </ul>
</section>
<section id="passangers-section">
  <h2 class="heading-2 text-center">Pasažéři</h2>
  <ul id="passangers-list">
    {% for passanger in passanger %}
    <li class="passangers-list-passanger">{{passanger}}</li>
    {% empty %}
    <li class="passangers-list-passanger">Nebyly nalezeni žádní pasažéři</li>
    {% endfor %}
  </ul>
  <a href="{% url 'index' %}" class="btn">Vrátit se zpět</a>
</section>

{% endblock %}
